run = "npx http-server"
entrypoint = "index.html"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "npx http-server"]
deploymentTarget = "cloudrun"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "README.md"]

[languages]

[languages.html]
pattern = "**/*.html"

[languages.html.languageServer]
start = "vscode-html-language-server --stdio"

[languages.javascript]
pattern = "**/*.js"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"
